includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    checkMissingIterableValueType: false
    level: 6
    paths:
        - src
        - tests
    doctrine:
        objectManagerLoader: tests/object-manager.php
