/*
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.page-title {
    margin-top: 50px;
}

.badge {
    font-size: 16px;
}

.label {
    font-size: 100%;
}

.sticker-image {
    float: left;
    margin: -15px 15px 0px 0px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.jumbotron {
    padding: 30px;
    background-color: #b4b1b1;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.light-jumbotron {
    max-width: 100%;
    background-color: #e3e3e3;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.jumbotron .container {
    max-width: 100%;
    background-color: #222;
}

.light-jumbotron .container {
    max-width: 100%;
    background-color: #e3e3e3;
}

.jumbotron h1 {
    text-align: center;
    color: #DDD;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-item:not(:last-child) {
    border-right: 1px solid silver;
}

.dropdown-menu {
    width: auto;
}

.dropdown-menu::before, .dropdown-menu::after {
    border: 0px solid;
}