{#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#}
{% extends 'base.html.twig' %}

{% block page_header %}
  <div class="page-title">
    <img src="/img/fruitpassion.png" width="50px" height="50px" class="sticker-image"/>
    <h1>Dashboard - Daily PRs Waiting Total Stats</h1>
  </div>
{% endblock %}

{% block page_content %}
  <div>
    <h2>Last thirty days</h2>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      {% for key, type in prTypes %}
        <th scope="col">
          <a href="{{ prUrls[key] }}">{{ type }}</a>
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for day, data in stats %}
      <tr>
        <th scope="row">
          {{ day }}
        </th>
        {% for total in data %}
          <td>
            {{ total }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
